<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Guilherme Viana" />
    <title>Home</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://kit.fontawesome.com/006642858d.js"></script>
  </head>
  <body>
    <header th:replace="fragments/fragments :: header"></header>

    <section class="neo" style="background-image: url('img/bg.jpg')">
      <div class="sombra"></div>

      <div class="neo-container">
        <h1>Sistema de Gerenciamento de Alunos</h1>

        <div class="botoes">
          <div class="wm">
            <h5 class="btn" type="button">CADASTRAR ALUNO</h5>
          </div>
          <div class="wm">
            <h5 class="btn justify-content-center" type="button">
              ENCONTRAR ALUNO
            </h5>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </section>

    <footer th:replace="fragments/fragments :: footer"></footer>

    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
